#maquinas {
    min-height: 100vh;
    padding-block: 10rem;
}

#maquinas .content {
    position: relative;
    z-index: 11;

    padding-bottom: 10rem;
}

#maquinas header {
    margin-bottom: 5rem;
}

#maquinas header h2 {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 2.5rem;
    color: #fff;

    margin-bottom: .5rem;
}

#maquinas header h2 span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

#maquinas header p {
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 400;
    color: #cec9db;

    margin-bottom: 2rem;
}

#maquinas header p span {
    color: #fff;
}

#maquinas .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#maquinas .border-card {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#maquinas .card {
    background: linear-gradient(140deg, #4572fa0f, #a482fa0d);
    border: 1px solid #ffffff0c;
    backdrop-filter: blur(6px) saturate(130%);
    -webkit-backdrop-filter: blur(6px) saturate(130%);
    box-shadow:  9px 9px 17px #05021544,
             -9px -9px 17px #07021d4c;

    padding: 2rem;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#maquinas .card .ball {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #2ffd1c;

    margin-bottom: 1rem;
}

#maquinas .card h3 {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 3rem;
}

#maquinas .card p {
    font-weight: 500;
    font-size: 2rem;
    font-size: 1.6rem;
    color: #d0d0d0;
}

#maquinas .card p span {
    color: #2ffd1c;
}

#maquinas .card h4 {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.6rem;
    font-family: "Bai Jamjuree", sans-serif;
    color: #fff;
}

#maquinas .card h4 span {
    color: #d0d0d0;
    font-weight: 400;
}

#maquinas .card button {
    margin-top: 2rem;

    border-radius: .5rem;
    width: 100%;
    border: none;
    padding: .5rem 2rem;
    background: transparent;
    color: var(--blue);

    transition: all 200ms ease-in-out;
}

#maquinas .card button ion-icon {
    font-size: 2.2rem;
    line-height: 0;
    color: #e0e0e0;
}

#maquinas .card button:hover {
    color: #ffffff;
    cursor: pointer;
}

/* Conteudo adicional surge na tela */
#maquinas .cards .card.active {
    border-radius: 2rem 2rem 0 0;
    border-bottom: 0;
}

#maquinas .cards .card ion-icon {
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

#maquinas .cards .card ion-icon:hover {
    filter: brightness(2);
}

#maquinas .cards .card.active ion-icon {
    transform: rotate(-180deg);
}

#maquinas .additional-content { 
    transform: translateY(-100%);

    display: none;
    opacity: 0;
    transition: all 300ms ease-in-out;

    border: 1px solid #ffffff0c;
    border-radius: 0 0 2rem 2rem;
    width: 100%;
    padding: 2rem;


    backdrop-filter: blur(6px) saturate(120%);
    -webkit-backdrop-filter: blur(6px) saturate(120%);
    background: #1900380f;
    box-shadow: inset -20px 20px 60px #15003018,
                inset 20px -20px 60px #0400406b;
}

#maquinas .additional-content.show {
    display: block;
    opacity: 1;
    transform: translateY(0%);
}

#maquinas .additional-content.hidden {
    display: none;
}

#maquinas .additional-content .topics {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

#maquinas .additional-content .topic {
    backdrop-filter: blur(6px) saturate(120%);
    -webkit-backdrop-filter: blur(6px) saturate(120%);

    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
}

#maquinas .additional-content .topic ion-icon {
    transform: rotate(90deg);
    margin-bottom: 1rem;
    color: #fff;
}

#maquinas .additional-content .topic h5 {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.6rem;
    color: #fff;

    margin-bottom: .5rem;
}

#maquinas .additional-content .topic p {
    font-size: 1.4rem;
    color: #d7d5d5;
}

#maquinas .additional-content .buttons {
    margin-top: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#maquinas .additional-content .buttons .ligar ion-icon {
    font-size: 3.5rem;
    color: #2ffd1c;
    padding: .5rem;
    border-radius: 50%;
    line-height: 0;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

#maquinas .additional-content .buttons .reiniciar ion-icon {
    font-size: 3.5rem;
    color: #f6ca04;
    padding: .5rem;
    border-radius: 50%;
    line-height: 0;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

#maquinas .additional-content .buttons .desligar ion-icon {
    font-size: 3.5rem;
    color: #fd2020;
    padding: .5rem;
    border-radius: 50%;
    line-height: 0;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

#maquinas .additional-content .buttons .ligar ion-icon:hover {
    background: #2ffd1c1b;
}

#maquinas .additional-content .buttons .reiniciar ion-icon:hover {
    background: #f6ca041b;
}

#maquinas .additional-content .buttons .desligar ion-icon:hover {
    background: #fd202016;
}

@media (min-width: 1080px) {
    section#maquinas {
        height: 100vh;
        max-height: 100vh;
        padding-top: 17rem;
    }

    section#maquinas header {
        margin-bottom: 6rem;
    }
    
    section#maquinas header h2 {
        font-family: "Bai Jamjuree", sans-serif;
        font-size: 5rem;
        color: #fff;
        line-height: .9;
        margin-bottom: 1rem;
    }
    
    section#maquinas header p {
        font-size: 1.6rem;
        line-height: 1.3;
        font-weight: 400;
        color: #cec9db;

        margin-bottom: 3rem;
    }

    section#maquinas .card {
        width: 90%;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 3rem;
        padding-block: 2rem;
        border-radius: 3rem;

        padding-inline: 2%;
    }

    section#maquinas .card h3 {
        position: relative;
        margin-bottom: 0;
        font-size: 2.5rem;
        line-height: 1;
    }

    section#maquinas .card p {
        font-size: 1.6rem;
    }

    section#maquinas .cards .card .ball {
        margin-bottom: 0;
    }

    section#maquinas .card h4 {
        margin-top: 0;
        font-size: 1.6rem;
    }

    section#maquinas .card button {
        margin-top: 0;
        width: initial;
        padding: 1.5rem;
    }

    section#maquinas .card button ion-icon {
        font-size: 3rem;
    }

    section#maquinas .cards .card.active {
        width: 90%;
        border-radius: 3rem 3rem 0 0;
    }

    section#maquinas .additional-content {
        width: 90%;
    }

    section#maquinas .additional-content .topics {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section#maquinas .additional-content .topic {
        display: grid;
        grid-template-columns: .2fr 1fr 5fr;
        align-items: center;

        background: #05001282;
        backdrop-filter: blur(6px) saturate(140%);
        -webkit-backdrop-filter: blur(6px) saturate(140%);
    }

    section#maquinas .additional-content .topic ion-icon {
        margin-bottom: 0;
        transform: rotate(0);
        font-size: 2rem;

        margin-right: 1rem;
    }

    section#maquinas .additional-content .topic h5 {
        margin-bottom: 0;
        text-align: left;

        width: 100%;
        margin-right: 1rem;
    }
 
    section#maquinas .additional-content .topic p::before {
        content: '';
        position: absolute;
        width: 2px;
        top: 0;
        left: 0;
        height: 100%;
        background: #ffffff2f;
    }

    section#maquinas .additional-content .topic p {
        padding-inline: 1rem;
        position: relative;
        color: #8a8a8a;
    }

    section#maquinas .additional-content .buttons {
        justify-content: center;
        gap: 2rem;
    }

    section#maquinas .additional-content .buttons .ligar ion-icon,
    section#maquinas .additional-content .buttons .reiniciar ion-icon,
    section#maquinas .additional-content .buttons .desligar ion-icon {
        font-size: 4rem;
        padding: 1rem;
    }

    #tooltip {
        position: fixed;
        padding: 5px 10px;
        background-color: rgba(255, 8, 8, 0.7);
        color: #fff;
        font-size: 40px;
        border-radius: 4px;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}


@media (min-width: 1080px) {
    section#maquinas .wrapper {
      width: min(100rem, 100%);
    }
  }

  @media (min-width: 1200px) {
    section#maquinas .wrapper {
      width: min(110rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    section#maquinas .wrapper {
      width: min(120rem, 100%);
    }
  }

  @media (min-width: 1700px) {
    section#maquinas .wrapper {
      width: min(130rem, 100%);
    }
}